{% trans_default_domain 'BkstgSearchBundle' %}
{% block result_wrapper %}
  <a href="{{ link|default('#') }}" class="list-group-item list-group-item-action container-fluid">
    <div class="row">
      <div class="col-1">
        {% if result.groups is defined %}
          {% set production = result.groups[0] %}
        {% elseif result.image is defined %}
          {% set production = result %}
        {% endif %}
        {% media production.image, 'square' with {'class': 'img-fluid', 'height': 'auto'} %}
      </div>
      <div class="col-11">
        {% block result %}
          {% if attribute(result, '__toString') is defined %}
            <p>{{ result|purify }}</p>
          {% else %}
            {% if result.title is defined %}
              <h3>{{ result.title }}</h3>
            {% elseif result.name is defined %}
              <h3>{{ result.name }}</h3>
            {% endif %}

            {% if result.body is defined %}
              <p>{{ result.body|truncate(300, true)|raw }}</p>
            {% elseif result.description is defined %}
              <p>{{ result.description|truncate(300, true)|raw }}</p>
            {% endif %}
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </a>
{% endblock %}
